@{
    ViewData["Title"] = "Laporan Pembelian dan Harga Barang";
    var grid = Guid.NewGuid();
}

<h1>@ViewData["Title"]</h1>
<form class="row g-3 form-filter">
    <div class="col-md-3">
        <label class="form-label">Barang</label>
        @await Html.PartialAsync("_Dropdown", new SearchModel()
                {
                    ApiUrl = "/api/Product",
                    FieldIndex = 0,
                    FieldName = "ProductId",
                    FieldLabel = "Pilih",
                    FieldDisplayName = "Name"
                })
    </div>
    <div class="col-auto">
        <label class="form-label">Supplier</label>
        @await Html.PartialAsync("_Dropdown", new SearchModel()
                {
                    ApiUrl = "/api/Vendor",
                    FieldIndex = 0,
                    FieldName = "VendorId",
                    FieldLabel = "Pilih",
                    FieldDisplayName = "Name"
                })
    </div>
    <div class="col-auto">
        <label for="inputPassword4" class="form-label">Tanggal Transaksi</label>
        <div class="input-group mb-3">
            <input type="date" class="form-control" name="StartDate" placeholder="Tanggal Mulai">
            <span class="input-group-text">Sampai</span>
            <input type="date" class="form-control" name="EndDate" placeholder="Sampai Tanggal">
        </div>
    </div>
    <div class="col-12">
        <button type="button" onclick="$('#@grid').DataTable().ajax.reload()" class="btn btn-primary">Filter</button>
    </div>
</form>
<br />
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    Id = grid,
    ApiUrl = Url.Content("/api/Report/Purchases"),
    Columns = new[] {
        new SearchColumn(){
            name = "Product",
            displayname = "Nama Barang"
        },
        new SearchColumn(){
            name = "QtyPurchase",
            displayname = "Total Pembelian",
            searchable = false
        },

        new SearchColumn(){
            name = "QtyReceive",
            displayname = "Total Penerimaan",
            searchable = false
        },
        new SearchColumn(){
            name = "Price",
            displayname = "Harga rata-rata Barang",
            searchable = false
        },
        new SearchColumn(){
            name = "Amount",
            displayname = "Nilai Aset",
            searchable = false
        }
    },
    AjaxData = @"params.push({name : 'filters[0].column', value :'PurchaseOrderDate' });
                 params.push({name : 'filters[0].value', value : $('[name=StartDate]').val() });
                 params.push({name : 'filters[0].condition', value : 'GreaterThanOrEqual' });

                 params.push({name : 'filters[1].column', value :'PurchaseOrderDate' });
                 params.push({name : 'filters[1].value', value : $('[name=EndDate]').val() });
                 params.push({name : 'filters[1].condition', value : 'LessThanOrEqual' });

                 params.push({name : 'filters[2].column', value :'VendorId' });
                 params.push({name : 'filters[2].value', value : $('[name=VendorId]').val() });
                 params.push({name : 'filters[2].condition', value : 'Equal' });

                 params.push({name : 'filters[3].column', value :'ProductId' });
                 params.push({name : 'filters[3].value', value : $('[name=ProductId]').val() });
                 params.push({name : 'filters[3].condition', value : 'Equal' });
                ",
    ColumnDefinition = @"'columnDefs': [{
                                            'targets': 3,
                                            'render': function (data, type, row, meta) {
                                                return displayCurency(row[3]);
                                            }
                                         },
                                         {
                                            'targets': 4,
                                            'render': function (data, type, row, meta) {
                                                return displayCurency(row[4]);
                                            }
                                         }]"
})
