@{
    ViewData["Title"] = "Pasien";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Buat Baru</a>
</p>
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    ApiUrl = Url.Content("/api/customer"),
    Columns =  ModelHelper.GetSearchColumnsWithAction<Customer>(),
    ColumnDefinition = @"'columnDefs': [{
                    'targets': -1,
                    'data': null,
                    'orderable': false,
                    'searchable':false,
                    'render': function (data, type, row, meta) {
                        return '<a href=""/customer/Edit/' + data[7] + '""class=""btn btn-warning"">Edit</a>' +
                               '<a href=""/customer/Details/' + data[7] + '""class=""btn btn-success"">Details</a>' +
                               '<a href=""/customer/Delete/' + data[7] + '""class=""btn btn-danger"">Delete</a>';
                    }
                }]"
})

