@{
    ViewData["Title"] = "Product";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Buat Baru</a>
    <a asp-action="PriceCalculation" class="btn btn-info">Hitung Ulang Harga Beli</a>
</p>
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    ApiUrl = Url.Content("api/product"),
    Columns = ModelHelper.GetSearchColumnsWithAction<Product>(),
    ColumnDefinition = @"'columnDefs': [{
                    'targets': -1,
                    'data': null,
                    'orderable': false,
                    'searchable':false,
                    'render': function (data, type, row, meta) {
                        return '<a href=""/product/Edit/' + data[4] + '""class=""btn btn-warning"">Edit</a>' +
                               '<a href=""/product/Details/' + data[4] + '""class=""btn btn-success"">Details</a>' +
                               '<a href=""/product/PriceCalculation/' + data[4] + '""class=""btn btn-info"">Hitung Ulang </a>' +
                               '<a href=""/product/Delete/' + data[4] + '""class=""btn btn-danger"">Delete</a>';
                    }
                }]"
})