@{
    ViewData["Title"] = "Product";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    ApiUrl = Url.Content("api/product"),
    Columns = new[] {
        new SearchColumn(){
            name = "Name",
            displayname = "Name"
        },
        new SearchColumn(){
            name = "Description",
            displayname = "Description"
        },
        new SearchColumn(){
            name = "PriceSell",
            displayname = "PriceSell",
            searchable = false
        },
        new SearchColumn(){
            name = "PricePurchase",
            displayname = "PricePurchase",
            searchable = false
        },
        new SearchColumn(){
            searchable = false,
            orderable = false,
            displayname = "Tindakan"
        }
    },
    ColumnDefinition = @"'columnDefs': [{
                    'targets': -1,
                    'data': null,
                    'orderable': false,
                    'searchable':false,
                    'render': function (data, type, row, meta) {
                        return '<a href=""/product/Edit/' + data[4] + '""class=""btn btn-warning"">Edit</a>' +
                               '<a href=""/product/Details/' + data[4] + '""class=""btn btn-success"">Details</a>' +
                               '<a href=""/product/Delete/' + data[4] + '""class=""btn btn-danger"">Delete</a>';
                    }
                }]"
})