@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="text-center">
            <h1 class="display-4"><img src="~/img/clinic.png"/><br />Klinik Asiyah</h1>
            <p class="lead">Rekapitulasi Data Pasien</p>
        </div>
    </div>
</div>
