@{
    ViewData["Title"] = "Konsultasi";
    var grid = Guid.NewGuid();
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Buat Baru</a>
    <a class="btn btn-secondary" data-toggle="collapse" href=".form-filter" role="button" aria-expanded="false" aria-controls=".form-filter">
        Filter
    </a>
</p>

<form class="row g-3 collapse form-filter">
    <div class="col-md-3">
        <label class="form-label">Pelanggan</label>
        @await Html.PartialAsync("_Dropdown", new SearchModel()
                {
                    ApiUrl = "/api/Customer",
                    FieldIndex = 0,
                    FieldName = "CustomerId",
                    FieldLabel = "Pilih",
                    FieldDisplayName = "Name"
                })
    </div>
    <div class="col-auto">
        <label for="inputPassword4" class="form-label">Tanggal Konsultasi</label>
        <div class="input-group mb-3">
            <input type="date" class="form-control" name="StartDate" placeholder="Tanggal Mulai">
            <span class="input-group-text">Sampai</span>
            <input type="date" class="form-control" name="EndDate" placeholder="Sampai Tanggal">
        </div>
    </div>
    <div class="col-12">
        <button type="button" onclick="$('#@grid').DataTable().ajax.reload()" class="btn btn-primary">Filter</button>
    </div>
</form>
<br />
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    Id = grid,
    ApiUrl = Url.Content("api/SalesOrder"),
    Columns = new[] {
        new SearchColumn(){
            name = "Number",
            displayname = "Number"
        },
        new SearchColumn(){
            name = "Description",
            displayname = "Description"
        },
        new SearchColumn(){
            name = "SalesOrderDate",
            displayname = "Tanggal Konsultasi",
            searchable = false
        },
        new SearchColumn(){
            name = "Customer.Name",
            displayname = "Customer"
        },
        new SearchColumn(){
            name = "PaidStatus",
            displayname = "Pembayaran",
            searchable = false
        },
        new SearchColumn(){
            searchable = false,
            orderable = false,
            displayname = "Tindakan"
        }
    },
    AjaxData = @"params.push({name : 'filters[0].column', value :'CustomerId' });
                 params.push({name : 'filters[0].value', value : $('[name=CustomerId]').val() });
                 params.push({name : 'filters[0].condition', value : 'Equal' });

                 params.push({name : 'filters[1].column', value :'SalesOrderDate' });
                 params.push({name : 'filters[1].value', value : $('[name=StartDate]').val() });
                 params.push({name : 'filters[1].condition', value : 'GreaterThanOrEqual' });

                 params.push({name : 'filters[2].column', value :'SalesOrderDate' });
                 params.push({name : 'filters[2].value', value : $('[name=EndDate]').val() });
                 params.push({name : 'filters[2].condition', value : 'LessThanOrEqual' });
                ",
    ColumnDefinition = @"'columnDefs': [{
                            'targets': -1,
                            'data': null,
                            'orderable': false,
                            'searchable':false,
                            'render': function (data, type, row, meta) {
                                return '<a href=""/SalesOrder/Edit/' + data[5] + '""class=""btn btn-warning"">Edit</a>' +
                                       '<a href=""/SalesOrder/Details/' + data[5] + '""class=""btn btn-success"">Details</a>' +
                                       '<a href=""/SalesOrder/Delete/' + data[5] + '""class=""btn btn-danger"">Delete</a>';
                            }
                        },
                        {
                            'targets': -2,
                            'render' : function (data, type, row, meta){
                                return '<input type=""checkbox"" disabled ' + (data ? 'checked' : '') + '  />';
                            }
                        }
                        ]"
})

