@{
    ViewData["Title"] = "Mutasi Barang";
    var grid = Guid.NewGuid();
}

<h1>@ViewData["Title"]</h1>
<form class="row g-3 form-filter">
    <div class="col-md-3">
        <label class="form-label">Jenis Transaksi</label>
        <select name="TranSourceType" class="form-control">
            <option value="" selected="selected">Semua</option>
            <option value="SO">Penjualan</option>
            <option value="GR">Penerimaan</option>
        </select>
    </div>
    <div class="col-auto">
        <label for="inputPassword4" class="form-label">Tanggal Transaksi</label>
        <div class="input-group mb-3">
            <input type="date" class="form-control" name="StartDate" placeholder="Tanggal Mulai">
            <span class="input-group-text">Sampai</span>
            <input type="date" class="form-control" name="EndDate" placeholder="Sampai Tanggal">
        </div>
    </div>
    <div class="col-12">
        <button type="button" onclick="$('#@grid').DataTable().ajax.reload()" class="btn btn-primary">Filter</button>
    </div>
</form>
<br />
@await Html.PartialAsync("_DataTables", new SearchModel()
{
    Id = grid,
    ApiUrl = Url.Content("api/InvenTran"),
    Columns = new[] {
        new SearchColumn(){
            name = "Number",
            displayname = "Number"
        },
        new SearchColumn(){
            name = "Product.Name",
            displayname = "Product"
        },
        new SearchColumn(){
            name = "TranSourceNumber",
            displayname = "No. Transaksi"
        },
        new SearchColumn(){
            name = "TranSourceType",
            displayname = "Jenis"
        },
        new SearchColumn(){
            name = "Quantity",
            displayname = "Quantity",
            searchable = false
        },
        new SearchColumn(){
            name = "InvenTranDate",
            displayname = "Tanggal Transaksi",
            searchable = false
        },
    },
    AjaxData = @"params.push({name : 'filters[0].column', value :'TranSourceType' });
                 params.push({name : 'filters[0].value', value : $('[name=TranSourceType]').val() });
                 params.push({name : 'filters[0].condition', value : 'Equal' });

                 params.push({name : 'filters[1].column', value :'InvenTranDate' });
                 params.push({name : 'filters[1].value', value : $('[name=StartDate]').val() });
                 params.push({name : 'filters[1].condition', value : 'GreaterThanOrEqual' });

                 params.push({name : 'filters[2].column', value :'InvenTranDate' });
                 params.push({name : 'filters[2].value', value : $('[name=EndDate]').val() });
                 params.push({name : 'filters[2].condition', value : 'LessThanOrEqual' });
                ",
})
